name: Build APK for Screenshots

on:
  workflow_dispatch: # Allows you to manually click "Run"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get Dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release --no-tree-shake-icons

      # CHANGED: Updated to v4 to fix the error
      - uses: actions/upload-artifact@v4
        with:
          name: expiry-reminder-apk
          path: build/app/outputs/flutter-apk/app-release.apk
